---
import { SITE_TITLE, SITE_SPECIALTY, SITE_FOUNDATION } from "../consts";

const { location } = Astro.props;

const outClass = `signature ${location}`;
const imgAlt = `signature icon (${location})`;
---

<div class={outClass}>
    <a href="/" class="signature-link">
        <img class="signature-icon" src="/icons/pearl-v2.svg" alt={imgAlt} />
        <div class="signature-text">
            <span class="signature-title">Salvador<br/>Workshop</span><br />
            <span class="signature-tagline">
                {SITE_SPECIALTY}
            </span>
        </div>
    </a>
</div>
